@use 'variables' as *;

@mixin respond-to($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}